/* WhatsApp button */
.whatsapp-button {
    display: flex;
    position: fixed;
    bottom: 90px; /* Above the other logo */
    right: 20px;
    /* background-color: #25d366; */
    border-radius: 50px;
    z-index: 2;
}

.whatsapp-button img {
    
    position: relative;
    width: 55px;
    height: 55px;
    z-index: 2;
    
}

/* Phone button */
.phone-button {
    display: flex;
    position: fixed;
    border-radius: 50px;
    bottom: 160px; /* Above the WhatsApp button */
    right: 20px;
    /* background-color: #34b7f1; */
    z-index: 2;
}

.phone-button img {
    width: 50px;
    height: 50px;
    z-index: 2;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .button {
        width: 50px;
        height: 50px;
    }

    .button img {
        width: 40px;
        height: 40px;
    }
    .phone-button img{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 480px) {
    .whatsapp-button {
        bottom: 80px;
    }

    .phone-button {
        bottom: 140px;
    }

    .button {
        width: 45px;
        height: 45px;
    }
    
    .button img {
        width: 55px;
        height: 55px;
    }
    .phone-button img{
        width: 35px;
        height: 35px;
    }

}